<!DOCTYPE html>
<html lang="en">
<head>
    <title>Defect Detection</title>
    <link rel="stylesheet", href="static/css/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="header">
  <h1>Defect Detection on NVIDIA Jetson Nano</h1>
  <p>This operational dashboard displays the real-time detection of manufacturing defects on 3D printed gears.</p>
</div>

<div class="row">
  
  <div class="column left">    
    <h2>Video Feeds</h2>
    <figure>
        <img src="{{ url_for('stream_frames') }}" width="100%">
        <figcaption>NVIDIA Jetson Nano Camera View</figcaption>
    </figure>
    <figure>
        <video controls autoplay width="100%" id="video">
          <source src="http://localhost:8080/stream.mp4" type="video/mp4">
        </video>
        <figcaption>Model Status View</figcaption>
    </figure>    
  </div>
  
  <div class="column right">    
    <h2>Prediction Tracking</h2>
    <div id="defectTable"></div>
  </div>  
</div>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    var table = document.getElementById("defectTable");
    window.setInterval(() => {
      $.get(window.location.origin + "/table_data", function(data) {
        table.innerHTML = data;
      })    
    }, 1000);
  });  
</script>
</body>
</html>


